@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background-color: #FFF4F7; /* light sage green */
  color: #4a0033; /* dark navy green */
  font-family: Georgia, serif; /* professional font */
}

.coolGrade {
  background: -webkit-linear-gradient(right,#e7b5e2, #5d1649);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: larger;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}